<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 offset-md-2 text-white">
      <h1>ここはtopページだよ</h1>
      <p>JavaScriptの動的ページを練習</p>
      <div class= "top">
        <p>ここから始めるJavaScript</p>
      </div>
    </div>
  </div>
</div>